html {
  --color-0: #ffffff;
  --color-1: #f6f9fc;
  --color-2: #b3b1be;
  --color-3: #444244;
  --color-4: #343234;
  --color-5: #151413;
  --color-6: #0f1011;
  --color-7: #ed656e;
  --color-7-filter: invert(47%) sepia(43%) saturate(720%) hue-rotate(307deg)
    brightness(101%) contrast(95%);
  --color-8: #2b81c6;
  --color-8-filter: invert(51%) sepia(15%) saturate(3925%) hue-rotate(178deg)
    brightness(82%) contrast(86%);
}

html {
  --backgroundColorGrey: var(--color-1);
}
