@import url("./all.css");
@import url("./colors.css");

header {
  --backgroundColor: var(--backgroundColorRed);
  --accentColor: var(--accentColorBlue);
  --accentColorFilter: var(--accentColorBlueFilter);
  --titleColor: var(--titleDarkBlue);
  --textColor: var(--textDarkBlue);
  --knockoutColor: var(--backgroundColor);
}

section:nth-child(even) {
  --backgroundColor: var(--backgroundColorBlue);
  --accentColor: var(--accentColorRed);
  --accentColorFilter: var(--accentColorRedFilter);
  --titleColor: var(--titleWhite);
  --textColor: var(--textWhite);
  --knockoutColor: var(--backgroundColor);
}

section:nth-child(odd) {
  --backgroundColor: var(--backgroundColorRed);
  --accentColor: var(--accentColorBlue);
  --accentColorFilter: var(--accentColorBlueFilter);
  --titleColor: var(--titleDarkBlue);
  --textColor: var(--textDarkBlue);
  --knockoutColor: var(--backgroundColor);
}
