@import url("/styles/all.css");

section:nth-child(odd) {
  --backgroundColor: var(--invalid, silver);
  --accentColor: var(--invalid, #2b81c6);
  --accentColorFilter: var(--invalid, var(--color-8-filter));
  --titleColor: var();
  --textColor: var();
  --knockoutColor: var(--invalid, #fff);
}

section:nth-child(even) {
  --backgroundColor: silver;
  --accentColor: var(--invalid, #2b81c6);
  --accentColorFilter: var(--invalid, var(--color-8-filter));
  --titleColor: var();
  --textColor: var();
  --knockoutColor: var(--invalid, #fff);
}
