html {
  --color-1: #fffdff;
  --color-2: #b3b1be;
  --color-3: #444244;
  --color-4: #343234;
  --color-5: #151413;
  --color-6: #0f1011;
  --color-7: #ff0000;
  --color-7-filter: invert(12%) sepia(84%) saturate(7341%) hue-rotate(11deg)
    brightness(98%) contrast(121%);
}

html {
  --textOnWhite: #425466;
  --textWhite: #f8f8f8;
  --textOnLight: #0a2540;
  --titleOnWhite: #0a2540;
  --titleOnLight: #212517;
  --titleWhite: #fff;
  --backgroundColorGrey: #f6f9fc;
  --backgroundColorWhite: var(--color-2);
  --backgroundColorLight: #ded3a6;
  --backgroundColorDark: #374709;
  /* --backgroundColorDark: #086404; */
  --accentColorRed: #ff0000;
  --accentColorBlue: #f1baa1;
  --neutralRed: #d6c2bc;
  --neutralBlue: #c0cccc;
  --accentColorRedFilter: invert(12%) sepia(84%) saturate(7341%)
    hue-rotate(11deg) brightness(98%) contrast(121%);
  --accentColorBlueFilter: invert(85%) sepia(15%) saturate(1244%)
    hue-rotate(317deg) brightness(99%) contrast(91%);
}
