@import url("/styles/all.css");

navbar,
header,
footer,
section:nth-child(odd) {
  --backgroundColor: var(--invalid, #fff);
  --accentColor: var(--invalid, #2b81c6);
  --accentColorFilter: var(
    --invalid,
    invert(51%) sepia(15%) saturate(3925%) hue-rotate(178deg) brightness(82%)
      contrast(86%)
  );
  --titleColor: var();
  --textColor: var();
  --knockoutColor: var(--invalid, #fff);
}

section:nth-child(even) {
  --backgroundColor: silver;
  --accentColor: var(--invalid, #2b81c6);
  --accentColorFilter: var(
    --invalid,
    invert(51%) sepia(15%) saturate(3925%) hue-rotate(178deg) brightness(82%)
      contrast(86%)
  );
  --titleColor: var();
  --textColor: var();
  --knockoutColor: var(--invalid, #fff);
}

#ueber-mich {
  position: relative;
  z-index: 1;
}

#ueber-mich {
  --backgroundColor: var(--invalid, #f6f9fc);
}

footer {
  --backgroundColor: #f6f9fc;
}

@media (max-width: 767px) {
  #ueber-mich flex-row *:not(:first-child) {
    margin-top: 20px;
  }
}

#rezensionen basic-header {
  margin-bottom: 32px;
}
