@import url("/styles/all.css");

section:nth-child(odd) {
  --backgroundColor: var(--backgroundColorLight);
  --accentColor: var(--accentColorLight);
  --accentColorFilter: var(--accentColorFilterLight);
  --titleColor: var(--titleColorLight);
  --textColor: var(--textColorLight);
  --knockoutColor: var(--knockoutColorLight);
}

section:nth-child(even) {
  --backgroundColor: var(--backgroundColorDark);
  --accentColor: var(--accentColorDark);
  --accentColorFilter: var(--accentColorFilterDark);
  --titleColor: var(--titleColorDark);
  --textColor: var(--textColorDark);
  --knockoutColor: var(--knockoutColorDark);
}

#ueber-mich {
  position: relative;
  z-index: 1;
  --backgroundColor: var(--invalid, var(--backgroundColorGrey));
}

@media (max-width: 767px) {
  #ueber-mich flex-row *:not(:first-child) {
    margin-top: 20px;
  }
}

#rezensionen basic-header {
  margin-bottom: 32px;
}
