@import url("/styles/all.css");
@import url("https://dev.zaubrik.com/assets@v0.1.0/styles/legal.css");

section {
  --backgroundColor: var(--invalid, #fff);
  --accentColor: var(--invalid, #2b81c6);
  --accentColorFilter: var(--invalid, var(--color-8-filter));
  --titleColor: var();
  --textColor: var();
  --knockoutColor: var(--invalid, #fff);
}

#inhalt section-container {
  padding-top: 0;
}
